body {
    background-color:#EEF1FF;
    padding:0; 
    margin: 0;
    box-sizing: border-box;
}

.nav-logo {
display: flex;
justify-content: space-between;
background-color:#AAC4FF;
height:150px;

} 

.nav-logo img {
margin-left: 100px;
height:120px;
margin-top: auto;
}

.nav-logo h1 {
font-size: 60px;
color:whitesmoke;
margin-top: 50px;
margin-left: 250px;
font-weight: bold;
}

h2 {
text-align: center;
font-size: 40px;
}

.button {
border: 1px solid black;
border-radius: 10px;
width: 8%;
padding: 10px;
margin: 4px 2px;
font-size: 1vw;
height: 20px;

}
a {
text-decoration:none;
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: #B1B2FF;
color: whitesmoke;
font-weight: bold;
text-align: center;
cursor:pointer;

}

a:hover{
	background-color: #F082AC
}

.aboutSection {
width: 50%;
margin:auto;
margin-top:40px;
margin-bottom: 20px;
position:relative;
background-color: #B1B2FF;
border-radius: 25px;
padding: 25px;
font-family:Georgia, 'Times New Roman', Times, serif;
}


.team {
float:left;
}



.teamMember {
clear: both;
margin-bottom: 70px;
}

img {
margin-right: 15px;
height: 160px;
width: 160px;

}



