body {
  background-color:#EEF1FF;
  padding:0; 
  margin: 0;
  box-sizing: border-box;
}

/* #skiptocontent a {
  padding:6px;
	position: absolute;
	top:-40px;
	left:0px;
	color:white;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-bottom-right-radius:10px;
	background:linear-gradient(45deg, transparent 5%, #FF013C 5%);
	-webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 100;
}

#skiptocontent a:focus {
	position:absolute;
	left:0px;
	top:0px;
	outline-color:transparent;	
	-webkit-transition: top .1s ease-in;
    transition: top .1s ease-in;
} */

.nav-logo {
  display: flex;
  justify-content: space-between;
  background-color:#AAC4FF;
  height:150px;
  
  } 
  
  .nav-logo img {
  /* max-width: 20%; */
  margin-left: 100px;
  height:120px;
  margin-top: auto;
  }
  
  .nav-logo h1 {
  font-size: 60px;
  color:whitesmoke;
  margin-top: 50px;
  margin-left: 250px;
  font-weight: bold;
  }
  
  
  h2 {
  text-align: center;
  font-size: 40px;
  }

  .button {
  border: 1px solid black;
  border-radius: 10px;
  width: 8%;
  padding: 10px;
  margin: 4px 2px;
  font-size: 1vw;
  height: 20px;
    
  }
    
  a {
  text-decoration:none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #B1B2FF;
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
  cursor:pointer;

  }

  canvas {
    position: fixed;
    width:100%;
    height:100%;
  }
  
main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  width: 95%;
  margin: auto;
  gap: 10px;
}

header{
/* border: solid blue; */
grid-column: 1/-1; 
grid-row: 1/1;
/* text-align: center; */
}

/* header img{
  grid-column: 1/2;
  grid-row: 1/2;
  width: 150px;
  height: 150px;
  float: left;
} */


nav{
/* border: solid red; */
grid-column: 1/-1;
grid-row: 3/4;
text-align: center;
}

.questions{
font-family: Verdana, Geneva, Tahoma, sans-serif;
/* border: solid green; */
grid-column: 1/-1;
grid-row: 4/5;
text-align: center;
font-size: 50px;
}

.containerElem{
/* border: solid green; */
grid-column: 1/-1;
grid-row: 5/6;
text-align: center;
}
#questions {
  /* background-color: rgb(189, 210, 228); */
}

.op1{
/* border: solid lightblue; */
grid-column: 1/3;
grid-row: 6/9;
text-align: center;
}

.op1 img{
  border-radius: 50%;
}

.op2{
/* border: solid 5px rebeccapurple; */

grid-column: 3/-1;
grid-row: 6/9;
text-align: center;
}

.op2 img{
  border-radius: 50%;
}

.op3{
/* border: solid turquoise; */
grid-column: 1/3;
grid-row: 9/12;
text-align: center;
}

.op3 img{
  border-radius: 50%;
}

.op4{
/* border: solid orange; */
grid-column: 3/-1;
grid-row: 9/12;
text-align: center;
}


.op4 img{
  border-radius: 50%;
}

footer{
color: rgb(10, 10, 10);
border: solid black 0.5px;
text-align: center;
background-color: #AAC4FF;
font-family: 'Courier New', Courier, monospace;
height: 100px;
padding-top: 15px;
margin: auto;
}


footer a{
  background-color: #AAC4FF;
 }

/* modal CSS */

.modal {
  display: none; /* Hide the modal by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal content */
.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Close button */
.close {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 35px;
  font-weight: bold;
  padding: 10px;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

#show-modal{

  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: auto;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#show-modal:hover,
#show-modal:focus {
  background-color: #F082AC;
}

#modal-image{
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
  margin-left: 2%;
}
#modal-text{
  color:white;
  font-size: 30px;
  text-align: center;
  margin-left: 2%;
}

