body {
  background-color:rgb(249, 252, 252);
  padding:0; 
  margin: 0;
  box-sizing: border-box;
}
.nav-logo {
  display: flex;
  justify-content: space-between;
  background-color:black;
  height:150px;
  
  } 
  
  .nav-logo img {
  /* max-width: 20%; */
  margin-left: 100px;
  height:120px;
  margin-top: auto;
  }
  
  .nav-logo h1 {
  font-size: 60px;
  color:#a47d1a;
  margin-top: 50px;
  margin-left: 250px;
  font-weight: bold;
  }
  
  h2 {
  text-align: center;
  font-size: 40px;
  }

  .button {
  border: 1px solid black;
  border-radius: 10px;
  width: 8%;
  padding: 10px;
  margin: 4px 2px;
  font-size: 1vw;
  height: 20px;
      
  }  
  a {
  text-decoration:none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #e9ede8;
  color: #a47d1a;
  font-weight: bold;
  text-align: center;
  cursor:pointer;
  }

#wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  width: 95%;
}

#page {
  display: inline;
}

#home {
  text-align: center;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  /* border: solid #FE18D3 5px ;
  background-color: #FE18D3; */
  width: 500px;
  margin: auto;
  margin-top: 2%;
  border-radius: 30%;
}
 p {
  text-align: end;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  margin-right: 60px;
  margin-top: 10%;
  text-align: center;
  
 }

 /* #page {
  color: black;
  background-color:#FEFF38;
  border: #F8F005 solid 10px;
  display: inline-block;
  width: 100px;
  margin-left:100px;
  margin-top: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  border-radius: 40%;
 } */
#welcome {
  margin-top: 4%;
  background-color: #4206F1;
  height: 800px;
  width: 800px;
  margin-left: 50px;
  border-radius: 20%;
  margin-bottom: 40px;
}

#logo_on_welcome {
  display: inline;
  margin-left: 50px;
  height: 700px;
  margin-bottom: 250px;
}
#lists {
  text-align: end;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  margin-right: 100px;
  margin-top: 10%;
  color: aliceblue;
  padding-top: 10px;
}

#welcomeText {
  line-height: 30px;

  
}

#list_container {
  background-color: #871A85;
  height: 200px;
  border-radius: 20%;

}

footer{
  /* margin-top: 20px;
  width: 95%;
 
  /* position: fixed; */
  /* width: 95%; */
  /* background-color: red; */
  color: rgb(10, 10, 10);
  border: solid black 0.5px;
  /* grid-column: 1/-1;
  grid-row: 9/11; */
  text-align: center;
  background-color: rgb(173, 190, 175);
  font-family: 'Courier New', Courier, monospace;
  height: 100px;
  padding-top: 15px;
  margin: auto;
}
 
/* .footer {
  height:50px;
  margin-top:auto;
} */

/* button{
    margin: 0;
    position: absolute;
    top: 1000px;
    left: 35%;
} */

.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 300px;
    height: 86px;
    line-height: 88px;
    margin-top: 100px;
    margin-right: 100px;
  }
}